.category-button {
    width: 162px;
    display: flex;
    align-items: center;
    background: #4f5ac2;
    padding: 10px;
    color: #FFF;
}

.category-button i {
    font-size: 20px;
}

.category-button a {
    font-size: 18px !important;
    color: #FFF !important;
}

.user-container {
    margin-bottom: 50px;
}

.user-top-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


