.category-button {
    width: 162px;
    display: flex;
    align-items: center;
    background: #085CA4;
    padding: 10px;
    color: #FFF;
}

.category-button i {
    font-size: 20px;
}

.category-button a {
    font-size: 18px !important;
    color: #FFF !important;
}

.user-container {
    margin-bottom: 30px;
}

.user-top-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.bg-input {
    background: #eee;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    padding: 10px !important;
}

.bg-input:focus {
    border: 2px solid #eee;
    /* border-color: #eee; */
}

.nav-item__border:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.product-selection-tab li {
    padding: 45px 80px !important;
    align-items: center;
}

.navbar-area-two .main-nav nav .navbar-nav .nav-item:hover>a {
    background-color: #085CA4 !important;
    color: #fff !important;
}

.product-card-action li:hover {
    background-color: #085CA4 !important;
    color: #fff !important;
}

.quick-add-to-cart-wrapper.active {
    opacity: 1;
    pointer-events: all;
}

.quick-add-to-cart-wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,.56);
    z-index: 1111111;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.quick-add-to-cart-wrapper.active .quick-view-modal {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}


.quick-add-to-cart-wrapper.active .quick-view-product-content {
    -webkit-animation: fadeInLeft 1.1s;
    animation: fadeInLeft 1.1s;
    opacity: 1;
}

.quick-add-to-cart-close {
    position: absolute;
    top: -15px;
    right: -15px;
}


element.style {
}
.product-gallery-trigger a i {
    font-size: 20px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
i {
    font-style: italic;
}
.product-gallery-trigger a {
    color: #FFF !important;
}

.product_details-img {
    width: 100% !important;
    height: 400px !important;
}

.table_header,
.shipping_details {
    background: #f8f8f8;
}

.pending {
    background: #800080;
}

.confirm {
    background: #0000FF;
}

.processing {
    background: #FFA500;
}

.picked {
    background: #808000;
}

.shipped {
    background: #808080;
}

.delivered {
    background: #008000;
}

.return-request {
    background: red;
}

.cancel {
    background: #FF0000;
}

.invoice {
    color: white;
}

.download {
    margin-top: 5px;
}

.order_status {
    background: #418DB9;
}

@media only screen and (max-width: 767px){
    .quick-add-to-cart-close {
        top: 0;
        right: 0;
    }

    .footer-logo img {
         max-width: 100% !important;
        height: auto !important;
        display: block !important;
        margin-left: auto !important;;
        margin-right: auto !important;
    }

    .footer-details {
        text-align: justify !important;
    }

    .justify-content-end {
        justify-content: center!important;
        text-align: justify !important;
    }

}

