.category-button {
    width: 162px;
    display: flex;
    align-items: center;
    background: #4f5ac2;
    padding: 10px;
    color: #FFF;
}

.category-button i {
    font-size: 20px;
}

.category-button a {
    font-size: 18px !important;
    color: #FFF !important;
}

.user-container {
    margin-bottom: 30px;
}

.user-top-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.bg-input {
    background: #eee;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    padding: 10px !important;
}

.bg-input:focus {
    border: 2px solid #eee;
    /* border-color: #eee; */
}

.nav-item__border:not(:last-child) {
    border-bottom: 1px solid #eee;
}
